* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./imagenes/pixelcut-export.jpeg"), #000;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.envo {
  width: 400px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-field {
  position: relative;
 
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #e2eeed;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

button:hover {
  color: #10c9c9;
  background: rgba(255, 255, 255, 0.15);
}

.registro {
  text-align: center;
  margin-top: 30px;
  color: #015f65;
}
